*
{
    margin: 0;
    padding: 0;
}
.btn
{
    width: 100%;
    background-color:#0d60d3 ;
    color: white;
    margin: 2%;
}
.container
{
    text-align: center;
}
.navbar
{
    background-color: #073679;
}
.navbar-brand
{
    color:white;
    font-weight: 700;
}
.navbar-brand:hover
{
    color:white;
    font-weight: 700;
}
h2
{
    text-align: center;
    font-weight: 700;
    padding: 2%;
}
#formContainer
{
    text-align: left;
}
#containerCrud
{
    margin-top: 2%;
    align-items: center;
    min-height: 500px;
    background-color: rgb(247, 244, 244);
}
#upperBarCrud
{
    background-color: #073679;
    color: white;
    padding: 1%;
    align-items: center;
    padding: 2%;
}
#dataCrud
{
    background-color: rgb(247, 244, 244);
}
.row
{
    align-items: center;
    justify-content: center;
}